<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
bootstrap="vendor/autoload.php" 
colors="true" 
stopOnFailure="false" 
xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" 
cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="pruebas">
      <file>tests/integration/LoginTest.php</file>
      <file>tests/integration/UsuarioTest.php</file>
      <file>tests/integration/SeguridadTest.php</file>
      <file>tests/integration/SedesTest.php</file>
      <file>tests/integration/TerritorioTest.php</file>
      <file>tests/integration/CelulaConsolidacionTest.php</file>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED &amp; ~E_USER_DEPRECATED"/>
  </php>
</phpunit>

<!-- ./vendor/bin/phpunit -->