/* Fuentes */
@font-face {
    font-family: "Montserrat";
    src: url("AppwebMVC/public/font/Montserrat-Variable.ttf") format("ttf-variations");
    font-weight: 100 900;
}

/* Variables */
:root {
    --red: #eb3d3d;
    --red-dark: #b84343;
    --red-darker: #a83939;
    --red-darkest: #922c2c;
    --grey-lighter: #f5f5f5;
    --grey-light: #e0e0e0;
    --grey: #7a7a7a;
    --grey-dark: #4a5568;
    --grey-darker: #2d3748;
    --white: #ffffff;

    --color-acento: var(--red);
    --color-acento-dark: var(--red-dark);
    --color-acento-darker: var(--red-darker);
    --color-acento-darkest: var(--red-darkest);
    --color-secundario: var(--grey-dark);
    --color-secundario-dark: var(--grey-darker);
    --color-terceario: #676f7c;
    --color-terceario-dark: #52575f;
    --color-borde: var(--grey-light);

    --sidebar-width: 250px;
    --default-border: 1px solid var(--color-borde);

    /* Bootstrap overrides */
    --bs-border-color: var(--color-borde);
    --bs-border-radius: 0.5rem;
    .offcanvas {
        --bs-offcanvas-width: 450px;
    }
}

/* Elementos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--grey-lighter);
    font-family: "Montserrat", var(--bs-font-sans-serif);
}

/* Contenido principal */
#main {
    margin-left: var(--sidebar-width);
    padding: 1.5rem;
}

/* Menu lateral */
#sidebar {
    width: var(--sidebar-width);
    margin-top: 70px;
}

#sidebar .nav {
    overflow-y: auto;
    flex-wrap: nowrap;
}
#sidebar .nav::-webkit-scrollbar {
	width: 5px;
	background-color: var(--grey-lighter);
	border-radius: 10px;
}
#sidebar .nav::-webkit-scrollbar-track {
	background: var(--grey-light);
	border-radius: 10px;
}
#sidebar .nav::-webkit-scrollbar-thumb {
	background: var(--grey);
	border-radius: 10px;
}

#sidebar .nav-link {
    color: var(--color-secundario);
    font-size: 14px;
    font-weight: 600;
}
#sidebar .nav-link:hover, .nav-link:focus {
    color: var(--color-secundario-dark)
}
#sidebar .nav-link i {
    color: var(--color-acento-dark);
}
#sidebar .nav-link.active {
    color: var(--color-acento);
}
#sidebar .nav-link.active i {
    color: var(--color-acento);
}

/* Tablas */
.table td {
    vertical-align: middle;
}
table tbody .acciones {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    color: var(--color-terceario);
}
table tbody .acciones i {
    cursor: pointer;
}
table tbody .acciones i:hover {
    color: var(--color-acento-dark);
}

/* Datatable overrides */
#tabla-usuarios {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}
#tabla-usuarios_filter {
    display: none;
}
#tabla-usuarios_wrapper ul.pagination {
    margin: 0!important;
}

.active>.page-link, .page-link.active {
    background-color: var(--color-acento-dark);
    border-color: var(--color-acento-dark);
}
.active>.page-link:hover, .page-link.active:hover {
    color: var(--white);
}
.page-link {
    color: var(--color-acento-dark);
}
.page-link:hover {
    color: var(--color-acento-darker);
}
.page-link:hover {
    color: var(--color-acento-darker);
}

/* Inputs dentro de offcanvas */
.offcanvas .form-control,
.offcanvas .form-select {
    background-color: var(--grey-lighter);
}